<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating</title>
    <link href="styles/styles.css" rel="stylesheet">
    <!-- Link to BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container border rounded">
        <div class="row">
            <div class="col">
                <h1>My Dating Website</h1>

                <p>Filler text</p>

                <h3>Here's what our users are saying about us.</h3>

                <p>Quotes</p>

                <button class="btn btn-primary">Create a Profile!</button>
            </div>
            <div class="col">
                <img src="images/spyro_and_shredder.jpg" alt="Spyro and Shredder"
                     class="cats img-fluid rounded float-right">
            </div>
        </div>
    </div>

</body>
</html>