<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating</title>
    <link href="styles/styles.css" rel="stylesheet">
    <!-- Link to BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">My Dating Website</span>
    </nav>

    <div class="container border rounded text-center">
        <div class="row">
            <div class="col">
                <h1>My Dating Website</h1>

                <p>Welcome to the web's most successful dating site. At <strong>My Dating Site</strong> you'll
                    meet other like minded individuals. We have the highest success rate of couples on the web.
                    User's are matched by interest and location. Find out why so many so many others have found
                    love on our site!</p>

                <div class="jumbotron">
                    <h4>Hear what our users are saying about us.</h4>

                    <hr class="my-4">
                    <!-- User Quotes  -->
                    <p><i>"I met the love of my life after only a month!" - Andrea</i></p>
                    <p><i>"" - </i></p>
                    <p><i>"" - </i></p>
                </div>

                <button class="btn btn-primary">Create a Profile!</button>
            </div>
            <div class="col">
                <img src="images/spyro_and_shredder.jpg" alt="Spyro and Shredder"
                     class="cats img-fluid rounded float-right">
            </div>
        </div>
    </div>

</body>
</html>