<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link href="styles/styles.css" rel="stylesheet">
    <!-- Link to BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <p>Name: {{ @SESSION.first }} {{ @SESSION.last }}</p>
    <p>Age: {{ @SESSION.age }}</p>
    <p>Gender: {{ @SESSION.gender }}</p>
    <p>Phone: {{ @SESSION.phone }}</p>
    <p>Email: {{ @SESSION.email }}</p>
    <p>State: {{ @SESSION.state }}</p>
    <p>Seeking: {{ @SESSION.seeking}}</p>
    <p>Biography: {{ @SESSION.biography }}</p>
    <p>Indoor Activities:
        <repeat group="{{ @SESSION.indoor }}" value="{{ @activity }}">
            {{ @activity }}
        </repeat>
    </p>
    <p>Outdoor Activities:
        <repeat group="{{ @SESSION.outdoor }}" value="{{ @activity }}">
            {{ @activity }}
        </repeat>
    </p>
</body>
</html>